@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* ----- VARIABLES ----- */
:root {
	--light-mode-elements: hsl(0, 0%, 100%);
	--light-mode-background: hsl(0, 0%, 98%);
	--light-mode-text: hsl(200, 15%, 8%);
	--light-mode-input: hsl(0, 0%, 52%);
	--light-shadow: #e7e7e7;

	--dark-mode-elements: hsl(209, 23%, 22%);
	--dark-mode-background: hsl(207, 26%, 17%);
	--dark-mode-text: hsl(0, 0%, 100%);
	--dark-shadow: #17171745;
}

/* LIGHTMODE (default) */
.theme-container {
	--elements: var(--light-mode-elements);
	--background: var(--light-mode-background);
	--text: var(--light-mode-text);
	--input: var(--light-mode-input);
	--shadow: var(--light-shadow);
}

/* ----- GENERAL ----- */
body {
	font-family: "Nunito Sans", sans-serif;
	background-color: var(--background);
}
#theme {
	display: none;
}
.header-container,
main {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 100vw;
}

/* ----- HEADER ----- */
.header-container {
	position: fixed;
	z-index: 2;
	background-color: var(--elements);
	height: 5rem;
	box-shadow: 0px 3px 4px var(--shadow);
}
header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 5rem;
	margin: auto;
	background-color: var(--elements);
	color: var(--text);
}
header h1 {
	padding: 2.25rem 0 0 1rem;
	font-size: 0.9rem;
	font-weight: 800;
}
header i {
	margin-right: 0.3rem;
	transform: rotate(-20deg);
}
header .fas {
	display: none;
}
header label {
	display: block;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: normal;
	padding: 2.25rem 1rem 0 0;
}
@media screen and (min-width: 768px) {
	header {
		max-width: 90rem;
	}
	header h1 {
		font-size: 1.4rem;
		padding: 1.9rem 0 0 5rem;
	}
	header label {
		font-weight: 600;
		padding: 1.9rem 5rem 0 0;
	}
}

/* ----- MAIN ----- */
main {
	position: relative;
	padding-top: 5rem;
	padding-bottom: 1.9rem;
	background: var(--background);
	color: var(--text);
}

.actions {
	position: fixed;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 9.5rem;
	width: -webkit-fill-available;
	background: var(--background);
	color: var(--input);
	padding: 0 1rem 2rem 1rem;
}
.actions__search {
	position: relative;
	padding: 1.5rem 0;
}
.actions__search label {
	position: absolute;
	top: 2.5rem;
	left: 2.25rem;
	font-size: 1rem;
}
.actions__search input,
.actions__filter select {
	border: none;
	height: 3rem;
	box-shadow: 2px 2px 11px var(--shadow);
	border-radius: 5px;
	font-family: "Nunito Sans", sans-serif;
}
.actions__search input {
	width: 100%;
	max-width: 30rem;
	padding: 0 1.25rem 0 4.75rem;
	background-color: var(--elements);
	color: var(--input);
}
.actions__search input::placeholder {
	color: var(--input);
}
.actions__filter select {
	width: 12.5rem;
	padding-left: 1.5rem;
	padding-right: 1.25rem;
	outline: none;
	appearance: none; /* Remove default arrow */
	background: url(../images/chevron-down-outline.svg) 88% / 7% no-repeat;
	background-color: var(--elements);
	color: var(--text);
}

.actions__filter select::-ms-expand {
	display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

.countries {
	z-index: 0;
	margin: 11.25rem auto 2rem auto;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-items: center;
	row-gap: 2.5rem;
}
.country__container {
	height: 21rem;
	width: 16.5rem;
	border-radius: 6px;
	background-color: var(--elements);
	box-shadow: 2px 2px 9px var(--shadow);
	display: flex;
	flex-direction: column;
}
.country__flag {
	background: linear-gradient(#561f40 0%, #9f193c 44%, #c66914 100%);
	height: 10rem;
	border-radius: 6px 6px 0 0;
}
.country__details {
	height: 11rem;
	padding: 0 1.5rem;
}
.country__name {
	margin-top: 1.9rem;
	font-size: 1.1rem;
	font-weight: 800;
}
.country__info__list {
	margin-top: 1.25rem;
	line-height: 1.5rem;
	font-size: 0.9rem;
}
.subtitle {
	font-weight: 600;
}

@media screen and (min-width: 768px) {
	main {
		min-height: 100vh;
	}
	.countries {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 4.6rem;
	}
}
@media screen and (min-width: 980px) {
	.actions {
		max-width: 90rem;
		margin: auto;
		flex-direction: row;
		padding: 0;
	}
	.actions__search {
		padding: 3rem 0 3rem 5rem;
	}
	.actions__search label {
		top: 4.25rem;
		left: 7rem;
		font-size: 1.2rem;
	}
	.actions__search input,
	.actions__filter select {
		height: 3.75rem;
	}
	.actions__search input {
		width: 30rem;
	}
	.actions__filter {
		padding: 3rem 5rem 3rem 0;
	}
	.countries {
		margin: 9.5rem 5rem 2rem 5rem;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 4.6rem;
	}
}
@media screen and (min-width: 1260px) {
	.countries {
		grid-template-columns: repeat(4, 1fr);
		column-gap: 3.5rem;
	}
}
@media screen and (min-width: 1440px) {
	.countries {
		max-width: 90rem;
		column-gap: 4.6rem;
	}
}

/* -------------------- */
/* ----- DARKMODE ----- */
/* -------------------- */
#theme:checked ~ .theme-container {
	--elements: var(--dark-mode-elements);
	--background: var(--dark-mode-background);
	--text: var(--dark-mode-text);
	--input: var(--dark-mode-input);
	--shadow: var(--dark-shadow);
}
#theme:checked ~ .theme-container .fas {
	display: inline-block;
}
#theme:checked ~ .theme-container .far {
	display: none;
}
#theme:checked ~ .theme-container select {
	/* change dropdown arrow color */
	background: url(../images/chevron-down-outline-white.svg) 88% / 7% no-repeat;
	background-color: var(--elements);
}
