@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
	position: relative;
	color: hsl(200, 15%, 8%);
	background-color: hsl(0, 0%, 98%);
}

.btn {
	background-color: hsl(0, 0%, 100%);
	font-family: inherit;
	border: none;
	font-size: 1.4rem;

	border-radius: 5px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.btn:hover {
	background-color: transparent;
}

.modal {
	font-family: "Nunito Sans", sans-serif;
	font-size: 1.6rem;
	max-width: 144rem;
	margin: 0 auto;

	/* Positioned relatively to the main of homepage */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4rem 2.8rem;

	display: flex;
	flex-direction: column;
}

.modal__btn {
	width: 10.4rem;
	height: 3.2rem;
	margin-bottom: 6.4rem;
	padding: 1rem 2.5rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__btn img {
	height: 1.5rem;
	margin-right: 1rem;
}

.modal__details {
	display: flex;
	flex-direction: column;
}

.container-image {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.modal__flag {
	width: 100%;
	max-width: 50rem;
	height: auto;
}

.details__infos {
	margin-top: 5rem;
}

.infos__name {
	padding-bottom: 3.5rem;
}

.infos__content {
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

.infos__content div:first-child {
	padding-bottom: 4.3rem;
}

.infos__content div:last-child {
	padding-bottom: 3.9rem;
}

.infos__content li {
	padding-bottom: 2.2rem;
}

.subtitle {
	font-weight: 600;
}

.infos__border-countries .subtitle {
	display: block;
	padding-bottom: 2.4rem;
}

.border-countries__btn {
	padding: 0rem 1.6rem;
	margin-right: 0.5rem;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	height: 2.8rem;
	min-width: 9.6rem;
	border-radius: 3px;
}

@media screen and (min-width: 768px) {
	.btn {
		font-size: 1.3rem;
	}

	.modal {
		padding: 8rem;
	}

	.modal__btn {
		width: 12rem;
		margin-bottom: 6.4rem;
		padding: 1.2rem 2.8rem;
	}

	.infos__content {
		flex-direction: row;
		justify-content: space-between;
	}

	.infos__content li {
		padding-bottom: 2rem;
	}

	.infos__border-countries .subtitle {
		display: inline;
		padding-right: 1.6rem;
	}

	.border-countries__btn {
		padding: 0rem 2rem;
	}
}

@media screen and (min-width: 980px) {
	.btn {
		font-size: 1.6rem;
	}

	.modal__btn {
		width: 13.6rem;
		height: 4rem;
		margin-bottom: 8rem;
		padding: 1.4rem 3.2rem;
	}

	.modal__btn img {
		height: 2rem;
		margin-right: 1.3rem;
	}

	.modal__details {
		display: flex;
		flex-direction: row;
	}

	.details__infos {
		width: 65%;
		margin: auto;
		margin-left: 6rem;
	}

	.infos__name {
		padding-bottom: 3rem;
	}

	.infos__content {
		padding-bottom: 2rem;
	}

	.infos__content div:first-child,
	.infos__content div:last-child {
		padding: 0;
	}

	.infos__content li {
		padding-bottom: 1.8rem;
	}

	.infos__border-countries .subtitle {
		padding-right: 1.4rem;
	}

	.border-countries__btn {
		margin-right: 0.8rem;
	}
}
@media screen and (min-width: 1260px) {
	.details__infos {
		width: 56.25%;
		margin-left: 13rem;
		padding-top: 3.5rem;
	}

	.infos__name {
		padding-bottom: 4.5rem;
		font-size: 3.2rem;
	}

	.infos__content {
		padding-bottom: 5.8rem;
	}

	.infos__content li {
		padding-bottom: 2rem;
	}

	.infos__border-countries .subtitle {
		padding-right: 1.6rem;
	}

	.border-countries__btn {
		margin-right: 1rem;
	}
}
