@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* ----- VARIABLES ----- */
:root {
	--light-mode-elements: hsl(0, 0%, 100%);
	--light-mode-background: hsl(0, 0%, 98%);
	--light-mode-text: hsl(200, 15%, 8%);
	--light-mode-input: hsl(0, 0%, 52%);
	--light-shadow: #e7e7e7;

	--dark-mode-elements: hsl(209, 23%, 22%);
	--dark-mode-background: hsl(207, 26%, 17%);
	--dark-mode-text: hsl(0, 0%, 100%);
	--dark-shadow: #17171745;
}

/* LIGHTMODE (default) */
.theme-container {
	--elements: var(--light-mode-elements);
	--background: var(--light-mode-background);
	--text: var(--light-mode-text);
	--input: var(--light-mode-input);
	--shadow: var(--light-shadow);
}

/* ----- GENERAL ----- */
body {
	font-family: "Nunito Sans", sans-serif;
	background-color: var(--background);
}
.dark-background {
	background-color: var(--dark-mode-background);
}
#theme {
	display: none;
}
.header-container,
main {
	display: flex;
	justify-content: center;
	width: 100vw;
}

/* ----- HEADER ----- */
.header-container {
	position: fixed;
	z-index: 2;
	background-color: var(--elements);
	box-shadow: 0px 3px 4px var(--shadow);
}
header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 8rem;
	margin: auto;
	padding: 0 1.6rem;
	background-color: var(--elements);
	color: var(--text);
}
header h1 {
	align-self: center;
	font-size: 1.6rem;
	font-weight: 800;
}
header i {
	margin-right: 0.5rem;
	transform: rotate(-20deg);
}
header .fas {
	display: none;
}
header label {
	display: block;
	cursor: pointer;
	font-size: 1.3rem;
	font-weight: normal;
	align-self: center;
}
@media screen and (min-width: 768px) {
	header {
		max-width: 128rem;
		padding: 0 8rem;
	}
	header h1 {
		font-size: 2.2rem;
	}
	header label {
		font-size: 1.5rem;
		font-weight: 600;
		align-self: center;
	}
}

/* ----- MAIN ----- */
main {
	position: relative;
	padding-top: 8rem;
	padding-bottom: 3rem;
	background: var(--background);
	color: var(--text);
}
.disappear {
	display: none;
}

.actions {
	position: fixed;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 15.2rem;
	width: -webkit-fill-available;
	background: var(--background);
	color: var(--input);
	padding: 0 1.6rem 3.2rem 1.6rem;
	transition: 400ms transform;
}
.hide-actions {
	transform: translateY(-20rem);
	transition: 600ms transform;
}
.actions__search {
	position: relative;
	padding: 2.4rem 0;
}
.actions__search label {
	position: absolute;
	top: 4rem;
	left: 3.6rem;
	font-size: 1.6rem;
}
.actions__search input,
.actions__filter select {
	border: none;
	height: 4.8rem;
	box-shadow: 2px 2px 11px var(--shadow);
	border-radius: 5px;
	font-family: "Nunito Sans", sans-serif;
}
.actions__search input {
	width: 100%;
	max-width: 48rem;
	padding: 0 2rem 0 7.6rem;
	background-color: var(--elements);
	color: var(--input);
}
.actions__search input::placeholder {
	color: var(--input);
}
.actions__filter select {
	width: 20rem;
	padding-left: 2.4rem;
	padding-right: 2rem;
	outline: none;
	appearance: none; /* Remove default arrow */
	background: url(../images/chevron-down-outline.svg) 88% / 7% no-repeat;
	background-color: var(--elements);
	color: var(--text);
}

.actions__filter select::-ms-expand {
	display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

.countries {
	z-index: 0;
	margin: 20rem auto 3.2rem auto;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-items: center;
	row-gap: 4rem;
}
.country__container {
	height: 33.6rem;
	width: 26.4rem;
	border-radius: 6px;
	background-color: var(--elements);
	box-shadow: 2px 2px 9px var(--shadow);
	display: flex;
	flex-direction: column;
	cursor: pointer;
}
.country__container:hover {
	opacity: 0.85;
}
.country__flag {
	height: 16rem;
	border-radius: 6px 6px 0 0;
	object-fit: cover;
}
.country__details {
	height: 17.6rem;
	padding: 0 2.4rem;
}
.country__name {
	margin-top: 3rem;
	font-size: 1.8rem;
	font-weight: 800;
}
.country__info__list {
	margin-top: 2rem;
	line-height: 2.4rem;
}
.subtitle {
	font-weight: 600;
}

@media screen and (min-width: 768px) {
	main {
		min-height: 100vh;
	}
	.actions {
		padding: 0 8rem;
	}
	.countries {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 7.3rem;
	}
}
@media screen and (min-width: 980px) {
	.actions {
		max-width: 144rem;
		margin: auto;
		flex-direction: row;
		padding: 0;
	}
	.actions__search {
		padding: 4.8rem 0 4.8rem 8rem;
	}
	.actions__search label {
		top: 6.8rem;
		left: 11.2rem;
		font-size: 1.9rem;
	}
	.actions__search input,
	.actions__filter select {
		height: 6rem;
	}
	.actions__search input {
		width: 48rem;
	}
	.actions__filter {
		padding: 4.8rem 8rem 4.8rem 0;
	}
	.countries {
		margin: 15.2rem 8rem 3.2rem 8rem;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 7.3rem;
	}
}
@media screen and (min-width: 1260px) {
	.countries {
		grid-template-columns: repeat(4, 1fr);
		column-gap: 5.6rem;
	}
}
@media screen and (min-width: 1440px) {
	.countries {
		max-width: 144rem;
		column-gap: 7.3rem;
	}
}

/* -------------------- */
/* ----- DARKMODE ----- */
/* -------------------- */
#theme:checked ~ .theme-container {
	--elements: var(--dark-mode-elements);
	--background: var(--dark-mode-background);
	--text: var(--dark-mode-text);
	--input: var(--dark-mode-input);
	--shadow: var(--dark-shadow);
}
#theme:checked ~ .theme-container .fas {
	display: inline-block;
}
#theme:checked ~ .theme-container .far {
	display: none;
}
#theme:checked ~ .theme-container select {
	/* change dropdown arrow color */
	background: url(../images/chevron-down-outline-white.svg) 88% / 7% no-repeat;
	background-color: var(--elements);
}

/* ----- MODAL ----- */
.modal-container {
	position: relative;
	background-color: var(--background);
	color: var(--text);
}

.btn {
	background-color: var(--elements);
	color: var(--text);
	font-family: inherit;
	border: none;
	font-size: 1.4rem;

	border-radius: 5px;
	box-shadow: 0px 0px 6px 0px var(--shadow);
	cursor: pointer;
}

.btn:hover {
	background-color: transparent;
}

.modal {
	font-family: "Nunito Sans", sans-serif;
	font-size: 1.6rem;
	max-width: 144rem;
	margin: 0 auto;

	/* Positioned relatively to the main of homepage */
	position: absolute;
	top: 10vh;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4rem 2.8rem;

	display: flex;
	flex-direction: column;
}

.modal__btn {
	width: 10.4rem;
	height: 3.2rem;
	margin-bottom: 6.4rem;
	padding: 1rem 2.5rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__btn svg {
	fill: var(--text);
	height: 2rem;
	margin-right: 1rem;
}
.modal__details {
	display: flex;
	flex-direction: column;
}

.container-image {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.modal__flag {
	width: 100%;
	max-width: 50rem;
	height: auto;
}

.details__infos {
	margin-top: 5rem;
}

.infos__name {
	padding-bottom: 3.5rem;
}

.infos__content {
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

.infos__content div:first-child {
	padding-bottom: 4.3rem;
}

.infos__content div:last-child {
	padding-bottom: 3.9rem;
}

.infos__content li {
	padding-bottom: 2.2rem;
}

.subtitle {
	font-weight: 600;
}

.infos__border-countries .subtitle {
	display: block;
	padding-bottom: 2.4rem;
}

.border-countries__btn {
	padding: 0rem 1.6rem;
	margin-right: 0.5rem;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	height: 2.8rem;
	min-width: 9.6rem;
	border-radius: 3px;
}

@media screen and (min-width: 768px) {
	.btn {
		font-size: 1.3rem;
	}

	.modal {
		padding: 8rem;
		top: 7vh;
	}

	.modal__btn {
		width: 12rem;
		margin-bottom: 6.4rem;
		padding: 1.2rem 2.8rem;
	}

	.infos__content {
		flex-direction: row;
		justify-content: space-between;
	}

	.infos__content li {
		padding-bottom: 2rem;
	}

	.infos__border-countries .subtitle {
		display: inline;
		padding-right: 1.6rem;
	}

	.border-countries__btn {
		padding: 0rem 2rem;
	}
}

@media screen and (min-width: 980px) {
	.btn {
		font-size: 1.6rem;
	}

	.modal__btn {
		width: 13.6rem;
		height: 4rem;
		margin-bottom: 8rem;
		padding: 1.4rem 3.2rem;
	}

	.modal__btn img {
		height: 2rem;
		margin-right: 1.3rem;
	}

	.modal__details {
		display: flex;
		flex-direction: row;
	}

	.details__infos {
		width: 65%;
		margin: auto;
		margin-left: 6rem;
	}

	.infos__name {
		padding-bottom: 3rem;
	}

	.infos__content {
		padding-bottom: 2rem;
	}

	.infos__content div:first-child,
	.infos__content div:last-child {
		padding: 0;
	}

	.infos__content li {
		padding-bottom: 1.8rem;
	}

	.infos__border-countries .subtitle {
		padding-right: 1.4rem;
	}

	.border-countries__btn {
		margin-right: 0.8rem;
	}
}
@media screen and (min-width: 1260px) {
	.details__infos {
		width: 56.25%;
		margin-left: 13rem;
		padding-top: 3.5rem;
	}

	.infos__name {
		padding-bottom: 4.5rem;
		font-size: 3.2rem;
	}

	.infos__content {
		padding-bottom: 5.8rem;
	}

	.infos__content li {
		padding-bottom: 2rem;
	}

	.infos__border-countries .subtitle {
		padding-right: 1.6rem;
	}

	.border-countries__btn {
		margin-right: 1rem;
	}
}
